.topbar{
    background: #28007e;
    overflow: hidden;
    color: white;
    height: 57px;
    box-shadow: 10px 0px 5px gray;
}

.topbar a, .topbar p{
    display: inline;
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 0% !important;
    color: white;
}
.topbar a:hover{
    background: white;
    color: #28007e;
}

.topbar img{
    display: inline;
    float: left;
    height: 57px;
}
.content{
    margin: 5px 15px 0px 15px;
}

h1{
    font-size: 36pt;
    text-align: center;
}